{% extends "layout.html" %}

 {% block style %}
 body{
 color:red;
 }

html, body {
  width: 100%;
  height:100%;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

{% endblock %}


{% block body %}
         <div class="card" style="width: 18rem; ">
  <img src="/static/css/images4.jpg" class="card-img-top" alt="Sumo Deadlift">
  <div class="card-body">
    <h5 class="card-title">Sumo Deadlift</h5>
    <p class="card-text">See Reps and sets below for muscle building and Strength building</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">1 Set 12-15 reps</li>
    <li class="list-group-item">2 Set 10-12 reps</li>
    <li class="list-group-item">3 set 8 to 10 reps</li>
    <li class="list-group-item">4 set 5-6 reps</li>
  </ul>

</div>

 <div class="card" style="width: 18rem; margin-left:20em; bottom:590px;">
  <img src="/static/css/bent.png" class="card-img-top" alt="Sumo Deadlift" style="height: 250px;">
  <div class="card-body">
    <h5 class="card-title">Bent Barbell Row</h5>
    <p class="card-text">See Reps and sets below for muscle building and Strength building</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">1 Set 15-20 reps</li>
    <li class="list-group-item">2 Set 10-15 reps</li>
    <li class="list-group-item">3 set 8-12 reps</li>
    <li class="list-group-item">reps until failure</li>
  </ul>

</div>

<div class="card" style="width: 18rem; margin-left:40em; bottom:1185px;">
  <img src="/static/css/images5.jpg" class="card-img-top" alt="Sumo Deadlift" style="height: 250px;">
  <div class="card-body">
    <h5 class="card-title">Lat Pulldown</h5>
    <p class="card-text">See Reps and sets below for muscle building and Strength building</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">1 Set 15 reps</li>
    <li class="list-group-item">2 Set 12-15 reps</li>
    <li class="list-group-item">3 set 10-12 reps</li>
    <li class="list-group-item">reps until failure</li>
  </ul>

</div>

<div class="card" style="width: 18rem; margin-left:60em; bottom:1780px;">
  <img src="/static/css/images6.jpg" class="card-img-top" alt="Sumo Deadlift" style="height: 250px;">
  <div class="card-body">
    <h5 class="card-title">Pullups</h5>
    <p class="card-text">See Reps and sets below for muscle building and Strength building</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">reps until failure</li>
    <li class="list-group-item">reps until failure</li>
    <li class="list-group-item">reps until failure</li>
    <li class="list-group-item">reps until failure</li>
  </ul>

</div>

<form action="/backh", method="post">
        <input  style="margin: 2px 2px;  position:absolute; top:750px; right:760px;" name="backhome" type="submit" class="btn btn-lg btn-primary" value="Back Section">



        </form>

    {% endblock %}